form{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 10px;  
    border: 2px solid black;
}

label , input, button, textarea{
    display: flex;
    width: 100%;
}
label{
    font-weight: bold;
    padding: 10px 0 10px 0;
}
input, button{
    padding: 10px;
}
input, textarea{
    border: 2px solid rgb(30, 29, 29);   
}

button{
    margin-top: 20px;
    background-color: black;
    color: white;
}